.linkList {
  --pink: deeppink;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
  background-color: #222;
  color: var(--pink)
}

.link {
  padding: 0.5rem;
  border: 2px solid var(--pink);
  border-radius: .3125rem;
}

.activeLink {
  color: #222;
  background-color: var(--pink);
}